<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <title>user list</title>

    <style>

    </style>

    <script>
        //ajax
        $(document).ready(function(){
            $('#btn').click(function(){
                $.ajax({
                    type: "GET",
                    url: "/api/userlist",
                    success: function(userinfo){
                        console.log('success');
                        console.log(userinfo);
                            $.each (userinfo, function(i, item){
                                $('.userlist').append(`
                                <tr>
                                <td>${i+1}</td>
                                <td>${item.username}</td>
                                <td>${item.userid}</td>
                                <td>${item.password}</td>
                                <td>${item.tel}</td>
                                <td>${item.address}</td>
                                <td>${item.email}</td>
                                </tr>
                                `)
                            });
                    },
                    error: function(err){
                        console.log('err');
                    }
                });
            });
        });
    </script>

<% include ./inc/navbar.ejs %>

</head>
<body class="container mt-3">
    <div>
        <h2 class="bg-dark text-white" style="text-align: center">user list</h2>
    </div>

    <div class="input-group mb-3">
        <table class="userlist table table-dark table-hover">
            <tr>
                <td><input type="text" id="username" autofocus placeholder="고객이름" class="form-control"></td>
                <td><input type="text" id="userid" autofocus placeholder="고객id" class="form-control"></td>
                <td><input type="text" id="password" autofocus placeholder="비밀번호" class="form-control"></td>
                <td><input type="text" id="tel" autofocus placeholder="연락처" class="form-control"></td>
                <td><input type="text" id="address" autofocus placeholder="주소" class="form-control"></td>
                <td><input type="text" id="email" autofocus placeholder="이메일" class="form-control"></td>
                <td><button id="btn" class="btn btn-primary">OK</button></td>
            </tr>
        </table>
    </div>
</body>

</html>